In [1]:
import pandas as pd
import numpy as np

# Iris

In [2]:
# df_iris_raw = pd.read_csv('input/Iris.csv', delimiter=',')
# df_iris_raw.value_counts()
# df_iris_raw.head(5)
# print(df_iris_raw["Species"].unique())

# Cars

In [3]:
train_data = [
    [1, ['red', 'sports', 'domestic']],
    [0, ['red', 'sports', 'domestic']],
    [1, ['red', 'sports', 'domestic']],

    [0, ['yellow', 'sports', 'domestic']],
    [1, ['yellow', 'sports', 'imported']],
    [0, ['yellow', 'suv', 'imported']],
    [1, ['yellow', 'suv', 'imported']],
    [0, ['yellow', 'suv', 'domestic']],

    [0, ['red', 'suv', 'imported']],
    [1, ['red', 'sports', 'imported']],
]

df = pd.DataFrame(list((train_data)), columns=['stolen', 'data'])
df.head(5)

   stolen                        data
0       1     [red, sports, domestic]
1       0     [red, sports, domestic]
2       1     [red, sports, domestic]
3       0  [yellow, sports, domestic]
4       1  [yellow, sports, imported]